.App-header {
	text-align: center;
	min-height: 25rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 3rem 0;
}

.App-logo {
	height: 15rem;
	width: 15rem;
}

.App-heading {
	font-size: 2rem;
}

.App-subheading {
	color: rgba(0, 0, 0, 0.8);
	margin-bottom: 1rem;
	width: 90%;
}

.App-footer {
	height: 7.5rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 1.4rem;
}
.App-footer a,
.App-footer a:visited {
	text-decoration: none;
	color: #000000;
	font-weight: 600;
}

@media screen and (max-width: 768px) {
	.App-subheading {
		font-size: 1.4rem;
	}
}
