.Card {
	height: auto;
	width: 30%;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
	display: inline-flex;
	flex-direction: column;
	border-radius: 5px;
	padding: 1.5rem;
	margin: 1rem 1.5rem;
	background: #ffffff;
	cursor: pointer;
	text-decoration: none;
	color: #000000;
}
.Card:hover {
	transform: scale(1.05);
	box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
}

.Card-title {
	font-size: 1.6rem;
	margin-bottom: 3px;
}

.Card-description {
	font-size: 1.4rem;
	margin-bottom: 5px;
	color: #8f9bb3;
}

@media screen and (max-width: 976px) {
	.Card {
		width: 40%;
	}
}

@media screen and (max-width: 768px) {
	.Card {
		width: 100%;
	}
}
