.Nav {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	width: 60%;
	margin-top: 3rem;
}

.Nav-navlink {
	padding: 0.75rem 1.25rem;
	margin: 5px;
	text-decoration: none;
	background: #ffffff;
	border: 1px solid rgba(143, 155, 179, 0.16);
	border-radius: 3px;
	color: #7289da;
}
.Nav-navlink:hover,
.active {
	color: #ffffff;
	background: #7289da;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 768px) {
	.Nav {
		width: 95%;
	}

	.Nav-navlink {
		font-size: 1.4rem;
	}
}
