.Resources {
	background: #fafafa;
	padding: 5rem 3rem 1rem 3rem;
}

.Resources-heading {
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 2rem;
	font-size: 3rem;
}

.Resources-card-container {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
}

.Resources-filler {
	width: 30%;
	margin: 1.5rem;
}
