.Resources {
	background: rgba(114, 137, 218, 0.05);
	padding: 5rem 3rem 1rem 3rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.Resources-heading {
	text-align: center;
	margin-bottom: 2rem;
	font-size: 2.5rem;
	text-transform: uppercase;
}

.Resources-card-container {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	width: 100%;
	max-width: 1366px;
}

.Resources-filler {
	width: 30%;
	margin: 1.5rem;
}

@media screen and (max-width: 976px) {
	.Resources {
		padding: 5rem 2rem 0 2rem;
	}

	.Resources-filler {
		width: 40%;
	}
}

@media screen and (max-width: 768px) {
	.Resources-filler {
		height: 0;
	}
}
